chex
einops
flax==0.8.1
tensorflow-datasets
torchaudio
torchvision
torchtext
pydub
datasets
tqdm
wandb
# Installed separately: JAX
# jax==0.4.24
# and Torch CPU
# torch==2.3.0
# torchvision==0.18.0
# torchaudio==2.3.0
# torchtext==0.18.0
